body {
    font-family: monospace;
    color: darkslategray;
    background-color: white;
}

.outer-div {
    padding: 4px;
    text-align: center;
}

.board {
    display: inline-block;
    padding: 4px;
}

div.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}

div.modal-content {
    position: absolute;
    border-radius: 8px;
    padding: 12px;
    background-color: aqua;
    line-height: 1.3;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.modal-content a {
    color: darkslategray;
    text-decoration: underline;
}

div.modal-content-small {
    font-size: 11px;
    width: 85%;
}

div.modal-content-large {
    width: 40%;
}

.close-button {
    float: right;
    text-align: center;
    cursor: pointer;
}

div.show-modal {
    opacity: 1;
    visibility: visible;
}

input[type=range] {
    height: 16px;
    -webkit-appearance: none;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 10px;
    width: 100%;
    background: aqua;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: darkslategray;
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    height: 14px;
    width: 14px;
    border-radius: 25px;
    background: darkslategray;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: darkslategray;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: darkslategray;
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid darkslategray;
    height: 14px;
    width: 14px;
    border-radius: 25px;
    background: darkslategray;
    cursor: pointer;
}

.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 14px;
    margin: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background-color: darkslategray;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 0px;
    bottom: -5px;
    background-color: darkslategray;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked + .slider {
    background-color: darkslategray;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

table.usage, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid darkslategray;
    border-collapse: collapse;
    padding: 6px;
}

hr {
    border: 1px dashed darkslategray;
}
