body {
    font-family: monospace;
    color: darkslategray;
    background-color: white;
}

.outer-div {
    padding: 4px;
    text-align: center;
}

.board {
    display: inline-block;
    padding: 4px;
}

div.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
}

div.modal-content {
    position: absolute;
    border-radius: 8px;
    padding: 16px;
    background-color: aqua;
    font-size: 0.9em;
    line-height: 1.4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.modal-content a {
    color: darkslategray;
    text-decoration: underline;
}

div.modal-content-small {
    width: 75%;
}

div.modal-content-large {
    width: 40%;
}

.close-button {
    float: right;
    text-align: center;
    cursor: pointer;
}

div.show-modal {
    opacity: 1;
    visibility: visible;
}
